@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

$black: #000;
$white: #fff;
$card: #403d3d;
$infos: #7dc874;
$title: #ff9900;

$base-font-family: "Roboto", sans-serif;
