@import '../../styles/variables.scss';

.detail {
    &__container {
        display: flex;
        color: $white;

        @media (max-width: 767px) {
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }
    &__image {
        max-width: 100%;
        width: 30%;

        @media (max-width: 767px) {
            width: 80%;
        }
    }
    &-infos {
        padding-left: 5%;

        &__title {
            margin-bottom: 20px;

            @media (max-width: 767px) {
                margin-top: 20px;
                text-align: center;
                padding-left: 0;
            }
        }

        &__description {
            @media (max-width: 767px) {
                font-size: 13px;
            }
        }
    }
}